<div class="container">
  <header><img src="/images/life-story.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Edit your story</h2>

    <div class="content">
      <form action="/stories/<%= @story.id %>" method="post" id="new" autocomplete="off">
        <input type="hidden" id="hidden" name="_method" value="patch">
        This is a story about <select id="category" name="category" required>
          <option value="<%= @story.category_id %>" selected><%= @story.category.name %></option>
          <% Category.all.reject {|c| c.id == @story.category_id }.each do |category| %>
            <option value="<%= category.id %>"><%= category.name %></option>
          <% end %>  
        </select>.<br>
        
        I <input type="text" name="summary" id="summary" value="<%= @story.summary %>" style="width:60%" required>.<br>
        
        It happened on <input type="date" id="date" name="date" value="<%= @story.date %>" style="width:30%" required>. <br>
       
        <textarea name="description" style="width:90%; height:400px;" required><%= @story.description %></textarea><br>
        
        I want <select id="user" name="users[]" style="width:25%">
          <option hidden disabled selected value>None</option>
          <% User.all.reject {|u| u.id == current_user.id }.each do |user| %>
            <option value = "<%= user.id %>"><%= user.username %></option>
          <% end %>  
          </select> and 
        
          <select id="user" name="users[]" style="width:25%">
          <option hidden disabled selected value>None</option>
          <% User.all.reject {|u| u.id == current_user.id }.each do |user| %>
            <option value = "<%= user.id %>"><%= user.username %></option>
          <% end %>  
          </select> to be a part of this story.<br>
        
        <button type="submit" value="submit" style="padding:18px 64px; margin:18px 0">Update story</button>
      </form>
    </div>
    
    <div class="sidebar">
      <ul>
        <li><a href="/stories/<%= @story.id %>">Back to story</a></li>
        <li><a href="/new">New story</a></li>
        <li><a href="/users/<%= current_user.slug %>">View my stories</a></li>
        <li><a href="/">Back to homepage</a></li>
        <li><a href="/logout">Log out</a></li>
      </ul>
    </div>
    
  </div>
</div>