<div class="container">
  <header><img src="/images/life-story.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Here's the story:</h2>

    <div class="content">
      <p style="background-color:#eee; line-height:50px;">
      <% @story.users.each do |user| %>
          <a href="/users/<%= user.slug %>" style="font-family:sans-serif; font-size:16px; font-weight:bold; color:black"><mark><%= user.username %></a>,</mark>
        <% end %>
        <mark><%= @story.summary %></mark> on <mark><a href="/dates/<%= @story.date %>" style="font-family:sans-serif; font-size:16px; font-weight:bold; color:black"><%= @story.date %></a></mark>,
      </p>
      <p style="font-family:courier; font-size:14px; margin-left:50px; text-indent:50px">
        "<%= @story.description %>"
      </p>
      
      <p style="text-align: right"><a href="/categories/<%= @story.category.name %>" style="font-family:sans-serif; font-size:16px; font-weight:bold; color:black">Tag: <mark><%= @story.category.name %></mark></a></p>
      
      <form action="/stories/<%= @story.id %>" method="post" >
        <input type="hidden" id="hidden" name="_method" value="delete">
        <button type="submit" value="submit" style="padding:18px 64px; float:center;">Delete Story</button>
      </form>
      
      <button onclick="location.href='/stories/<%= @story.id %>/edit'" style="padding:18px 64px; float:center;">Edit story</button>
    </div>
    
    <div class="sidebar">
      <p><a href="/new">New story</a></p>
      <p><a href="/users/<%= current_user.slug %>">View my stories</a></p>
      <p><a href="/">Back to homepage</a></p>
      <button onclick="location.href='/logout'">Log out</button>
    </div>
    
  </div>
</div>