<div class="container">
  <header><img src="/images/life-story.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
      <h2><mark><%= @user.username %></mark>'s stories:</h2>

    <div class="content">
      <% @user.stories.all.order("date desc").each do |story| %>
        <p id="stories" onclick="location.href='/stories/<%= story.id %>'">
        <% story.users.each do |user| %>
          <mark><%= user.username %>,</mark>
        <% end %>
        recorded something about their <mark><%= story.category.name %></mark> happened on <mark><%= story.date %></mark>.
        </p>
      <% end %>
    </div>
    
    <div class="sidebar">
      <ul>
        <li><a href="/new">New story</a></li>
        <li><a href="/users/<%= current_user.slug %>">View my stories</a></li>
        <li><a href="/">Back to homepage</a></li>
        <li><a href="/logout">Log out</a></li>
      </ul>
      
      
    </div>
    
  </div>
</div>